<div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
    <div class="uk-width-1-1">
        <div class="uk-container">
            <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                <div class="uk-width-1-1@m">
                    <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">{{{ note.title }}}</h3>
                                    <p class="uk-text-meta uk-margin-remove-top">{{{ note.author }}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="uk-card-body">
                            <p>{{{ note.message }}}</p>
                        </div>
                        <div class="uk-card-footer">
                            <p>{{{ note.signature }}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
